@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

// DARK THEME
$c1_dark: #161823;
$c2_dark: #202330;
$c3_dark: #2f3247;
$c4_dark: #464a65;
$c5_dark: #b7bbd5;
// LIGHT THEME
$c1_light: white;
$c2_light: #f4f4f4;
$c3_light: #b7bbd5;
// -- fonts
$cg_back: #25514d;
$cg_front: #00cd69;

// FONTS
.font-12 {
  font-size: 12px;
}
.font-24 {
  font-size: 24px;
}
.roboto-r {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto-m {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.roboto-b {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.roboto-mono-l {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}
.roboto-mono-r {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}
.roboto-mono-m {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}
.roboto-mono-b {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
.mono-28 {
  font-size: 28px;
  @extend .roboto-mono-m;
}

html,
body,
#app {
  height: 100%;
  overflow-y: auto;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  background-color: $c1_light;
}

.vs-input {
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100% !important;
}
.clickable {
  cursor: pointer;
}

//BUTTONS
.btn-drop:active {
  transform: translateY(1px);
}
.btn-div {
  border: none;
  padding: 0px;
  background: transparent;
}
.link-btn {
  text-decoration: none;
  color: inherit;
}

//interface / input
